.Header
  display: flex
  justify-content: space-between
  background-color: white
  padding: 0 25px
  border-bottom: 1px solid #ff0076
   
  &-checkout
    display: flex
    justify-content: space-evenly
    align-items: center
    justify-items: center
    width: 30px
    margin: 0 0 0 .5em
   
  &-alert
    color: white
    font-size: 12px
    margin-left: -20px
    margin-top: 20px
    position: absolute
    background-color: green
    border-radius: 100px
    height: 18px;
    width: 18px;
    text-align: center;
    font-weight: 500
    
  .img-logo{
    width: 100px
     }
  .fa-shopping-basket{
    color: #ff0076
  }  

